.wrapperContainer {
  min-height: 100vh;
}

.wrapperContainer :global(.trigger) {
  font-size: 18px;
  line-height: 30px;
  padding: 5px 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.wrapperContainer :global(.trigger:hover) {
  color: #1890ff;
}

.wrapperContainer :global(.logo) {
  height: 30px;
  margin: 0;
  font-size: 20px;
  font-weight: 800;
  color: white;
  padding-left: 25px;
}

.wrapperContainer :global(.site-layout) :global(.site-layout-header) {
  background: #eeeeee;
  height: 34px;
  line-height: 34px;
}

.wrapperContainer :global(.site-layout) :global(.site-layout-content) {
  background: #fff;
}

.wrapperContainer :global(.layout-footer) {
  height: 34px;
  padding: 5px 5px;
  text-align: center;
}

.profile_menu_wrap {
  min-width: 360px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(255, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.14);
  position: relative;
  right: -12px;
}

.profile_menu_row_head {
  padding: 16px 24px;
}

.profile_menu_action {
  padding: 8px 0;
  border-top: 2px solid #eee;
}

.profile_menu_action > div {
  padding: 8px 24px;
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile_menu_action > div:hover {
  background-color: #eee;
}
.box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;
}
.box-logo h5 {
  margin: 0;
  color: #fff;
}
