*.bak
*.ez
nlw-*.tar
erl_crash.dump
tags
.DS_Store
.vim


docker/dbdata/
docker/conf.d/*.conf
docker/.env
docker/db_backup/*.sql

__pycache__
api/log/*.log
api/.coverage
api/.elixir_ls/
# api/public/static
api/public/media
api/public/clients
api/public/client
api/_build/
api/cover/
api/deps/
api/doc/
api/.fetch
api/logfile
api/priv/static/
